<mat-card>
  <mat-card-title>Employee Details</mat-card-title>
  <div id="container">
    <form [formGroup]="employee" fxLayout="column">
      <!-- FirstName -->
      <mat-form-field class="firstName" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text"/>
      </mat-form-field>
      <!-- Last Name -->
      <mat-form-field class="lastName" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text"/>
      </mat-form-field>
      <!-- DOB -->
      <mat-form-field class="dob" color="accent" appearance="fill">
        <mat-label>DOB</mat-label>
        <input matInput formControlName="dob" [matDatepicker]="picker1" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="emailId"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Mobile Number -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone No.</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" formControlName="mobileNo" matInput placeholder="555-555-1234" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- Gender -->
      <mat-radio-group class="gender" formControlName="gender" aria-label="Select an option">
        
        <mat-radio-button value="M">Male </mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
      </mat-radio-group>
      <!-- Address -->

      <div formGroupName="address" id="address" fxLayout="column">
        <mat-form-field class="address" appearance="fill">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="line1" type="text"  />
        </mat-form-field>

        <mat-form-field class="city" appearance="fill">
          <mat-label>Select your city</mat-label>
          <select matNativeControl formControlName="city">
            <option label="--select something --"></option>
            <option value="saab">Gurgaon</option>
          </select>
          <mat-error *ngIf="selectFormControl.hasError('required')">
            This field is required
          </mat-error>
          <mat-hint>You can pick up your favorite car here</mat-hint>
        </mat-form-field>

        <mat-form-field class="state" appearance="fill">
          <mat-label>Select your state</mat-label>
          <select matNativeControl required formControlName="state">
            <option label="--select something --"></option>
            <option value="saab">Haryana</option>
            <option value="saab">Delhi</option>
          </select>
          <mat-error *ngIf="selectFormControl.hasError('required')">
            This field is required
          </mat-error>
          <mat-hint>You can pick up your favorite car here</mat-hint>
        </mat-form-field>

        <mat-form-field class="country" appearance="fill">
          <mat-label>Select your country</mat-label>
          <select matNativeControl required formControlName="country">
            <option label="--select something --"></option>
            <option value="saab">India</option>
          </select>
          <mat-error *ngIf="selectFormControl.hasError('required')">
            This field is required
          </mat-error>
          <mat-hint>You can pick up your favorite car here</mat-hint>
        </mat-form-field>

        <mat-form-field class="pinCode" appearance="fill">
          <mat-label>PinCode</mat-label>
          <input type="tel" matInput formControlName="pinCode" placeholder="111111" />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>

  <mat-card-actions align="end">
    <button mat-button (click)="addEmployee(employee.value)">Submit</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>
